/* r📱 esponsive.css */
/* ----------------------------------
📱 Responsive Adjustments for Mobile
---------------------------------- */
@media screen and (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .project {
    padding: 0.5rem;
    min-height: auto;
  }

  .project img {
    max-height: 300px;
  }

  .project h3 {
    font-size: 1rem;
  }

  .project p {
    font-size: 0.9rem;
  }

  .button,
  .cta,
  .button-ghost {
    width: 100%;
    font-size: 0.95rem;
    height: auto;
    padding: 0.75rem 1rem;
    line-height: normal;
  }

  .flex-container2 {
    flex-direction: column;
    text-align: center;
  }

  .floatingchat-container {
    bottom: 80px !important;
    right: 12px !important;
  }

  .topnav.responsive .eco-link {
    font-weight: bold;
    background-color: #444;
    color: var(--color-accent);
  }

  .topnav .button-ghost { display: none; }
  .topnav a { display: none; }
  .topnav .icon { display: block; }

  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }

  .topnav.responsive a,
  .topnav.responsive .button-ghost {
    display: block;
    float: none;
    text-align: left;
    padding: 12px 16px;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
