* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #D1D9A1
}

body {
  margin: 0;
  font-family: 'Lato', 'Rubik', Arial, Helvetica, sans-serif;
}

.p {
  font-family: 'Lato', 'Rubik', Arial, Helvetica, sans-serif;
}


.bg-img {
  /* The image used */
  background-image: url("rss/ann-reflection-try-it-yourself-table-exhibition-at-market_1692696342.webp");
  min-height: 350px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
 .topnav a {
  float: left;
  color: #f2f2f2;
  /* margin-top: 150px; */
  text-align: center;
  padding: 2px 16px;
  text-decoration: none;
  font-size: 17px;
 }

 .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  flex: 0 0 200px;           /* also try `flex: 2` */
  background-color: #9EB037;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* .topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  /* top: 0; /* Position the navbar at the top of the page */
  /* width: 100%; /* Full width
} */

/* .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  height:100px;
  line-height: 100px;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.main {
  float: left;  /* to use with .right for two column */
  width: 60%;   /* to use with .right for two column */
  padding: 0 16px;
  margin-top: 300px;
  margin-left: 75px;
  height: 1500px; /* Used in this example to enable scrolling */
}

/* .main {
  margin-left: 75px;
  font-size: 30px;
} */

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
}

/*for topnav */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* for right and main */
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main, .right {
    width: 100%;
  }
}


/** sticky social on side **/
body {margin:0;height:2000px;}
.icon-bar {
  position: fixed;
  top: 65%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}



ul {
  list-style: none;
  padding-left: 0;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: white;
   text-align: center;
}

footer {
  background-color: grey;
  color: white;
  line-height: 1.2;
}
footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Footer main */
.ft-main {
  /* padding: 1.25rem 1.875rem; */
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  /* padding: 1.25rem; */
  padding: 0.5rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
